<!DOCTYPE html>

<html>
    <body>
        <h1>Group 3</h1>
        <p>Where above the ground</p>
        <h6>ACT 2E  Webtech2</h6>
    </body>
body {
  background-color: lightblue;
}

h6 {
  color: navy;
  margin-left: 20px;
}


</html>

